
*{
  margin: 10px;
  box-sizing: border-box;
}

.nav{
  background-color: #4ea0ff;
  background-image: url(../img/pattern.png);
  height: 15vh;
}

#logo{
  width: 250px;
  margin-top: 70px;
  margin-left: 20px;
}

h1{
  font-size: 70px;
  margin-top: 20px;
}

.sottotesto{
  color: gray;
  font-size: 25px;
  display: block;
}

.imgtim{
  width: 47vw;
  height: 400px;
  background-color: #4ea0ff;
  border: 1px solid black;
  display: inline-block;
}

main{
  margin-top: 50px;
  font-size: 20px;
  
}

main section{
  margin-top: 50px;
}

#thead{
  background-color: #20a9e5;
}

#cella_speciale{
  width: 65%;
}

.row_color{
  background-color: #b1e5f2;
}

footer{
  margin-top: 50px;
}

#monitor{
  display: block;
}
