
*{
  margin: 0;
  box-sizing: border-box;
}

/* inizio css nav & header */

.nav{
  background-color: #4ea0ff;
  background-image: url(../img/pattern.png);
  height: 18vh;
}

#logo{
  width: 300px;
  margin-top: 70px;
  margin-left: 20px;
}

/* inizio css da h1 */

h1{
  font-size: 70px;
  margin-top: 20px;
}

.sottotesto{
  color: gray;
  font-size: 25px;
  display: block;
}

#link_booleaner{
  text-decoration: none;
  color: #58beeb;
}

.tim_img{
  height: 68vh;
}

/* inizio css main */

main{
  margin-top: 50px;
  font-size: 20px;
  
}

main section{
  margin-top: 50px;
}

#thead{
  background-color: #20a9e5;
}

#cella_speciale{
  width: 65%;
}

.row_color{
  background-color: #b1e5f2;
}


/* inizio css footer */
footer{
  margin-top: 50px;
}

.img_footer{
  width: 15vw;
  height: 20vh;
  background-color: red;
  border: 1px solid black;
  font-size: 25px;
  color: white;
  padding: 15px;
  margin-top: 20px;
}

.monitor{
  background-image: url(../img/monitor.jpg);
  background-size: cover;
}

.graph{
  background-image: url(../img/graph.jpg);
  background-size: cover;
}

/* fine css footer */
